@{
    ViewBag.Title = "About";
}


<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>About</h3>
        <h4><a href="@Url.Action("Index","Home")">Home</a><label>/</label>About</h4>
        
    </div>
</div>

<!-- faqs -->
<div class="about-w3 ">


    <!--about-->
    <div class="container">
        <div class="about">
            <div class="spec ">
                <h3>About</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>

            <div class="col-md-4 about-right">
                <img class="img-responsive" src="~/img/ab.jpg" alt="">
            </div>
            <div class="col-md-4 about-left">
                <p>An E-Mall is a virtual store on the Internet where customers can browse the catalogue and select products of interest. The selected items may be collected in a shopping cart. At checkout time, the items in the shopping cart will be presented as an order. At that E-Mall system project report time, more information will be needed to complete the transaction.  </p>
            </div>
            <div class="col-md-4 about-right">
                <img class="img-responsive" src="~Lorem /img/ab1.jpg" alt="">
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//about-->
    <!--work-experience-->
    <div class="work">
        <div class="container">
            <div class="spec spec-w3ls">
                <h3>Our Journey</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>
            
           
            
            <div class="work-info">
                <div class="col-md-6 work-left">
                    <div class=" work-w3 ">
                        <h5> February 2015</h5>
                        <p> </p>
                    </div>
                    <label></label>
                </div>
                <div class="col-md-6 work-right">
                    <div class=" work-w31">
                        <h5> July 2015</h5>
                        <p>tatiso </p>
                    </div>
                    <label></label>
                </div>
                <div class="clearfix"> </div>
                <span> 2015</span>
                <span class="last"> 2016</span>
            </div>
        </div>
    </div>
    <!--//work-experience-->
    <!--advantages-->
    <div class="container">
        <div class="advantages">
            <div class="col-md-6 advantages-left ">
                <h3>Our Advantages</h3>
                <div class="advn-one">
                    <div class="ad-mian">
                        <div class="ad-left">
                            <p>1</p>
                        </div>
                        <div class="ad-right">
                            <h4><a href="@Url.Action("Single","Home")">Elacus a porta varius dui</a></h4>
                            <p>Nulla  </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ad-mian">
                        <div class="ad-left">
                            <p>2</p>
                        </div>
                        <div class="ad-right">
                            <h4><a href="@Url.Action("Single","Home")">Elacus a porta varius dui</a></h4>
                            <p>In neque ,</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ad-mian">
                        <div class="ad-left">
                            <p>3</p>
                        </div>
                        <div class="ad-right">
                            <h4><a href="@Url.Action("Single","Home")">Elacus a porta varius dui</a></h4>
                            <p>In neque arcu, </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 advantages-left about-agi">
                <h3>Our Skills</h3>
                <div class="advn-two">
                    <h4><a href="@Url.Action("Single","Home")"> eu tincidunt lacinia, elit quam ultri ces ipsum, quis ultricies ipsum ante</a></h4>
                    <p>Donec sagittis  </p>
                    <ul>
                        <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Praesent vestibulum molestie lacus</a></li>
                        <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Donec sagittis interdum tellus</a></li>
                        <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Nulla consectetur adipiscing</a></li>
                        <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Donec ac rhoncus libero.</a></li>
                        <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Erci eu tincidunt lacinia</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--advantages-->

</div>
<!-- // Terms of use -->
