<!DOCTYPE html>
<html>
<head>
    <title>Emall</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="keywords" content="EMall Responsive web template " />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/style.css" rel='stylesheet' type='text/css' />
    <!-- js -->
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--- start-rate---->
    <script src="~/Scripts/jstarbox.js"></script>
    <link rel="stylesheet" href="~/Content/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
        jQuery(function () {
            jQuery('.starbox').each(function () {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed', function (event, value) {
                    if (starbox.hasClass('random')) {
                        var val = Math.random();
                        starbox.next().text(' ' + val);
                        return val;
                    }
                })
            });
        });
    </script>
    <!---//End-rate---->

</head>
<body>
    <a href=""><img src="~/img/download.png" class="img-head" alt=""></a>
    <div class="header">

        <div class="container">

            <div class="logo">
                <h1><a href="@Url.Action("Index","Home")"><b>T<br>H<br>E</b>Emall<span>The Best Supermarket</span></a></h1>
            </div>
            <div class="head-t">
                <ul class="card">
                    <li><a href="@Url.Action("Wishlist","Home")"><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</a></li>
                    <li><a href="@Url.Action("Login","User")"><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
                    <li><a href="@Url.Action("Registration","User")"><i class="fa fa-arrow-right" aria-hidden="true"></i>Register</a></li>
                    <li><a href="@Url.Action("About","Home")"><i class="fa fa-file-text-o" aria-hidden="true"></i>Order History</a></li>
                    <li><a href="@Url.Action("Shipping","Home")"><i class="fa fa-ship" aria-hidden="true"></i>Shipping</a></li>
                </ul>
            </div>

            <div class="header-ri">
                <ul class="social-top">
                    <li><a href="https://www.facebook.com" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
                    <li><a href="https://twitter.com/login?lang=en" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
                    <li><a href="https://in.pinterest.com" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
                    <li><a href="https://dribbble.com" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
                </ul>
            </div>


            <div class="nav-top">
                <nav class="navbar navbar-default">

                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav ">
                            <li class=" active"><a href="@Url.Action("Index","Home")" class="hyper "><span>Home</span></a></li>

                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>Kitchen<b class="caret"></b></span></a>
                                <ul class="dropdown-menu multi">

                                    <li class="col-sm-3">
                                        <ul class="multi-column-dropdown">

                                            <li><a href="@Url.Action("Kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Water & Beverages</a></li>
                                            <li><a href="@Url.Action("Kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Fruits & Vegetables</a></li>
                                            <li><a href="@Url.Action("Kitchen","Home")"> <i class="fa fa-angle-right" aria-hidden="true"></i>Staples</a></li>
                                            <li><a href="@Url.Action("Kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Branded Food</a></li>

                                        </ul>
                                    </li>

                                    <li class="col-sm-3">

                                        <ul class="multi-column-dropdown">
                                            <li><a href="@Url.Action("kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Breakfast &amp; Cereal</a></li>
                                            <li><a href="@Url.Action("kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Snacks</a></li>
                                            <li><a href="@Url.Action("kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Spices</a></li>
                                            <li><a href="@Url.Action("kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Biscuit &amp; Cookie</a></li>
                                            <li><a href="@Url.Action("kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Sweets</a></li>

                                        </ul>

                                    </li>

                                    <li class="col-sm-3">

                                        <ul class="multi-column-dropdown">
                                            <li><a href="@Url.Action("kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Pickle & Condiment</a></li>
                                            <li><a href="@Url.Action("kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Instant Food</a></li>
                                            <li><a href="@Url.Action("kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Dry Fruit</a></li>
                                            <li><a href="@Url.Action("kitchen","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Tea &amp; Coffee</a></li>

                                        </ul>
                                    </li>

                                    <li class="col-sm-3 w3l">
                                        <a href="@Url.Action("kitchen","Home")"><img src="~/img/me.png" class="img-responsive" alt=""></a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> Personal Care <b class="caret"></b></span></a>
                                <ul class="dropdown-menu multi multi1">
                                    <li class="row">
                                    <li class="col-sm-3">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i> Ayurvedic </a></li>
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Baby Care</a></li>
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Cosmetics</a></li>
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Deo & Purfumes</a></li>

                                        </ul>

                                    </li>
                                    <li class="col-sm-3">

                                        <ul class="multi-column-dropdown">
                                            <li><a href="@Url.Action("Care","Home")"> <i class="fa fa-angle-right" aria-hidden="true"></i>Hair Care </a></li>
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Oral Care</a></li>
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Personal Hygiene</a></li>
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Skin care</a></li>

                                        </ul>

                                    </li>
                                    <li class="col-sm-3">

                                        <ul class="multi-column-dropdown">
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i> Fashion Accessories </a></li>
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Grooming Tools</a></li>
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Shaving Need</a></li>
                                            <li><a href="@Url.Action("Care","Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Sanitary Needs</a></li>

                                        </ul>
                                    </li>
                                    <li class="col-sm-3 w3l">
                                        <a href="@Url.Action("Care","Home")"><img src="~/img/me1.png" class="img-responsive" alt=""></a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("About","Home")" class="hyper"><span>About Us</span></a></li>


                            <li><a href="@Url.Action("Contact","Home")" class="hyper"><span>Contact Us</span></a></li>

                        </ul>
                    </div>
                </nav>
                <div class="cart">

                    <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <!---->

    @RenderBody();

    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-grid">
                <h3>About Us</h3>
                <p>
                    EMall
                </p>
            </div>
            <div class="col-md-3 footer-grid ">
                <h3>Menu</h3>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("kitchen","Home")">Kitchen</a></li>
                    <li><a href="@Url.Action("Care","Home")">Personal Care</a></li>
              
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid ">
                <h3>Customer Services</h3>
                <ul>
                    <li><a href="@Url.Action("Shipping","Home")">Shipping</a></li>
                    <li><a href="terms.html">Terms & Conditions</a></li>
                    <li><a href="faqs.html">Faqs</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    <li><a href="offer.html">Online Shopping</a></li>

                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>My Account</h3>
                <ul>
                    <li><a href="@Url.Action("Login","User")">Login</a></li>
                    <li><a href="@Url.Action("Registration","User")">Register</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Wishlist</a></li>

                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="footer-bottom">
                <h2><a href="@Url.Action("Index","Home")"><b>T<br>H<br>E</b>Emall<span>The Best Supermarket</span></a></h2>
                
                <ul class="social-fo">
                    <li><a href="https://www.facebook.com" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/login?lang=en" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://in.pinterest.com" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    <li><a href="https://dribbble.com" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                </ul>
                <div class=" address">
                    <div class="col-md-4 fo-grid1">
                        <p><i class="fa fa-home" aria-hidden="true"></i>12K Street , 45 Building Road Canada.</p>
                    </div>
                    <div class="col-md-4 fo-grid1">
                        <p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>
                    </div>
                    <div class="col-md-4 fo-grid1">
                        <p><a href="mailto:emall@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>E-Mall@example1.com</a></p>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
            <div class="copy-right">
                <p> &copy; Emall. All Rights Reserved</p>
            </div>
        </div>
    </div>
    <!-- //footer-->

</body>
</html>
